<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ScheduleReader</display-name>
  <servlet>
    <description></description>
    <display-name>semester_sr</display-name>
    <servlet-name>semester_sr</servlet-name>
    <servlet-class>database.semester_sr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>semester_sr</servlet-name>
    <url-pattern>/semester_sr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Semester</display-name>
    <servlet-name>Semester</servlet-name>
    <servlet-class>database.Semester</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Semester</servlet-name>
    <url-pattern>/Semester</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>datasource</display-name>
    <servlet-name>datasource</servlet-name>
    <servlet-class>data.datasource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>datasource</servlet-name>
    <url-pattern>/datasource</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Datasource</display-name>
    <servlet-name>Datasource</servlet-name>
    <servlet-class>database.Datasource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Datasource</servlet-name>
    <url-pattern>/Datasource</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>db_connect</display-name>
    <servlet-name>db_connect</servlet-name>
    <servlet-class>database.db_connect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>db_connect</servlet-name>
    <url-pattern>/db_connect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Controller for reading the semester table </description>
    <display-name>ReadServlet</display-name>
    <servlet-name>ReadServlet</servlet-name>
    <servlet-class>controllers.ReadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadServlet</servlet-name>
    <url-pattern>/ReadServlet</url-pattern>
    <url-pattern>/read</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cookie</display-name>
    <servlet-name>Cookie</servlet-name>
    <servlet-class>dbHandler.Cookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookie</servlet-name>
    <url-pattern>/Cookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cookies</display-name>
    <servlet-name>Cookies</servlet-name>
    <servlet-class>dbHandler.Cookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookies</servlet-name>
    <url-pattern>/Cookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>dbHandler.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>controllers.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseDetails</display-name>
    <servlet-name>CourseDetails</servlet-name>
    <servlet-class>controllers.CourseDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDetails</servlet-name>
    <url-pattern>/CourseDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseDetailsServlet</display-name>
    <servlet-name>CourseDetailsServlet</servlet-name>
    <servlet-class>controllers.CourseDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDetailsServlet</servlet-name>
    <url-pattern>/CourseDetailsServlet</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>
</web-app>